@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
    CSS Variables
*/

:root {
    /* Colors */
    --clr-text: #e2f1ef;
    --clr-background: #010e0c;
    --clr-primary: #92e8e0;
    --clr-secondary: #10a18b;
    --clr-accent: #ffbc19;

    /* Fonts */
    --ff-title: "Chakra Petch", sans-serif;
    --ff-base: "B612 Mono", monospace;
}

/* General styling*/

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    /* default values */
    line-height: 1.5;
    font-family: var(--ff-base);
    color: var(--clr-text);

    /* background */
    background-image: url("../assets/abstract-timekeeper.png");
    background-size: cover;

    /* page layout */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/* Specific Styling */

/* header styling */

.header {
    background-color: var(--clr-background);
    padding: 1rem 1rem;
}
/* main styling */

/* footer styling */
.footer {
    margin-top: auto;
    background-color: var(--clr-background);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.footer__link-group {
    display: flex;
    gap: 3rem;
}

.footer__link {
    color: var(--clr-text);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}
.footer__link:hover {
    color: var(--clr-primary);
    cursor: pointer;
}

.footer__link-group .footer__link {
    font-size: 0.7rem;
    font-weight: 400;
}
